<!doctype html>
<html ng-app>
  <head>
    <script type="text/javascript" src='js/angular.js'>
    </script>
  </head>
  <body>
    <h1>First Angular View<h1>
        <input type='text' ng-model='name' placeholder="Enter name"></input>
        <p> Name's value is: {{name}}</p>

        <input type='text' ng-model='email' placeholder="Enter email address"></input>
        <p> Email's value is: {{email}}</p>

        <input type='text' ng-model='age' placeholder="Enter age"></input>
        <p> Age's value is: {{age}}</p>
  </body>
</html>
